#root {
  width: 100%;
  min-height: 100vh;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 350px;
  height: 31px;
  border: 1px solid black;
  background: transparent;
  font-weight: 200;
  border-radius: 0.4rem;
  padding: 5px;
}

.form-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.field label {
  width: 100px;
}

/* header styles */
.header {
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.header .actions {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 5px;
  width: 100%;
}
.header a {
  color: #7076de;
}
.header a.active {
  color: #454dda;
  font-weight: 800;
}
/* header styles end */
