#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 350px;
  height: 31px;
  border: 1px solid black;
  background: transparent;
  font-weight: 200;
  border-radius: 0.4rem;
  padding: 5px;
}

.form-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.field label {
  width: 100px;
}
